body {
	margin: 0;
}

.navbar {
	position: fixed;
    top: 0;
    z-index: 2;
    background-color:#fff;
    width:100%;
}

.sectionBlock{
	min-height: 400px;
}
.picture{
	background-image: url('../media/500.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#testimonialPicture{
	background-image: url('../media/501.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#map {
	height: 100%;
	width: 100%;
}

#popupVideo{
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	z-index: 999;
}



.products-row {
  	padding:100px 0px 100px 0px;
  	background-color:#20b98d;
}

.products-text {
  	padding-right:100px;
  	padding-left:100px;
  	color:#fff;
}

.prod-img {
  	max-width:500px;
}

.btn-wrap {
	text-align: center;
}

.btn {
	border-radius: 0px;
}

.btn-watch {
	background-color:#fff;
	border:2px solid #20b98d;
	color:#20b98d;
}

.btn-watch:hover {
	background-color:#20b98d;
	border:2px solid #fff;
	color:#fff;
}

.btn-order {
	background-color:#20b98d;
	border:2px solid #fff;
	color:#fff;
}

.btn-order:hover {
	
	background-color:#fff;
	border:2px solid #fff;
	color:#20b98d;
}



.feature-row h3 {
    padding:20px 0 20px;
}

.feature-row h2 {
    padding:40px 0 40px;
}

.uppercase {
    text-transform: uppercase;
}

.feature-row {
	padding: 50px 50px 50px 50px;
}

.color {
    color:#f49210;
}

.play {
    color:#dc274a;
}

.read {
    color:#2c83cb;
}

.collaborate {
    color:#00af7d;
}

