body {
	margin: 0;
	color:#3e3f40;
}

main {
	position:relative;
	top:56px;
}

.navbar {
	position: fixed;
    top: 0;
    z-index: 2;
    background-color:#2b2d2f;
    width:100%;   
}

a.nav-link {
	color:#e4e4e4;
	font-weight:300;

		-o-transition:.5s;
  		-ms-transition:.5s;
  		-moz-transition:.5s;
  		-webkit-transition:.5s;
  	transition:.5s;
}

a.nav-link:hover, a.nav-link:active {
	color:#20b98d;
}

.navbar-brand {
	color:#20b98d;
	font-weight:500;
}


#header-row {
	width:100%;
  	height: calc(100vh - 56px);
}



.sectionBlock{
	min-height: 400px;
}
.picture{
	background-image: url('../media/header-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#testimonialPicture{
	background-image: url('../media/test2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#map {
	height: 100%;
	width: 100%;
}

#popupVideo{
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	z-index: 999;
}



.products-row {
  	padding:100px 0px 100px 0px;
  	// background-color:#20b98d;
}

.products-text {
  	padding-right:100px;
  	padding-left:100px;
}

.prod-img {
  	max-width:500px;
}

.btn-wrap {
	text-align: center;
}

.btn {
	border-radius: 0px;
	cursor:pointer;
}

.btn-watch {
	background-color:#20b98d;
	border:2px solid #fff;
	color:#fff;
}

.btn-watch:hover {
	background-color:#fff;
	border:2px solid #20b98d;
	color:#20b98d;
}

#contact {
	background-color:#20b98d;
	color:#fff;
}

.btn-order {
	background-color:#20b98d;
	border:2px solid #fff;
	color:#fff;
}

.btn-order:hover {
	
	background-color:#fff;
	border:2px solid #fff;
	color:#20b98d;
}



.feature-row h3 {
    padding:20px 0 20px;
}

.feature-row h2 {
    padding:40px 0 40px;
}

.uppercase {
    text-transform: uppercase;
}

.feature-row {
	padding: 50px 50px 50px 50px;
}

.color {
    color:#f49210;
}

.play {
    color:#dc274a;
}

.read {
    color:#2c83cb;
}

.collaborate {
    color:#00af7d;
}



.form-control {
	border-radius:0px;
}



.bd-footer {
	background-color:#2b2d2f;
	position:relative;
	top:56px;
}


.bd-footer a {
	color:#20b98d;
}

.bd-footer a:hover {
	// border-left: 2px solid #20b98d;
	text-decoration:none;
}

.bd-footer li {
	list-style:none;
}

.bd-footer-links li {
	float:left;
}

.bd-footer-links a {
	padding-left:10px;
}




.social-icons-container {
  //padding-top: 30px;
  a {
    text-decoration: none;
    .social-icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #20b98d;
      margin: 10px;
      color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;

      -moz-transition: all 0.3s;
	  -webkit-transition: all 0.3s;
	  transition: all 0.3s;
      i {
        font-size: 2rem;
      }
    }
    .social-icon:hover {
    	-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
    }
  }
}

@media screen and (min-width: 550px) {
  .social-icon {
    i {
      font-size: 3rem;
    }
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #20b98d;
    margin: 10px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
